/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
body {
  font-family: Arial, "Heiti TC", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "文泉驛正黑", "WenQuanYi Zen Hei", san-serif;
  overflow-x: hidden;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
p {
  padding-bottom: 0.5rem;
  line-height: 1.6;
  font-weight: 200;
}
a {
  text-decoration: none;
}
.d-container {
  max-width: 870px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.dyaco-headline {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.571;
}
.dyaco-sub-headline {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.571;
}
.dyaco-post {
  margin: 30px;
}
.post__headline {
  display: block;
  background-color: #e1f5fe;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.571;
  padding: 8px 0 8px 8px;
}
.post__item {
  display: block;
  padding: 8px 0 8px 8px;
  border-bottom: 0.7px solid grey;
}
.post__item:hover {
  background-color: #e1f5fe;
}
.post__date {
  position: relative;
  display: inline-block;
  width: 93px;
}
.post__date:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: grey;
}
.post__title {
  padding-left: 5px;
  color: black;
}
.pagination {
  margin-top: 5px;
  text-align: center;
}
.pagination li {
  display: inline-block;
  float: left;
}
.pagination li a {
  display: block;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.article time {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
}
.article strong {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.45rem;
  line-height: 1.25;
  font-weight: bold;
}
.article .feature-media {
  max-width: 455px;
}
.article .feature-media a {
  display: block;
}
.article .feature-media a img {
  width: 100%;
  height: auto;
}
